/*  compose tweet */
.new-tweet {
  width: 90%;
  margin: 0.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
}

/* new tweet button */
.submit-and-display button {
  border: none;
  font-size: medium;
  font-family: "Bungee";
  background-color:#545149;
  color: #ffffff;
}

.submit-and-display {
  font-size: medium;
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

label {
  font-size: smaller;
}

/* new tweet box formatting */
textarea {
  outline: none;
  overflow: hidden;
  display: block;
  resize: none;
  border: none;
  border-bottom: solid;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-top: 5px;
  height: 30px;
  width: 100%;
}

/* red font when words count exceeds 140 char */
.negative-count {
  color: red;
}

@media only screen and (min-width:1024px) {
  .new-tweet {
    width: 90%;
  }
}